[core]
  editor = vim
  autocrlf = input
  excludesfile = ~/.gitignore_global
[color]
  ui = auto
[alias]
  lograph = log --graph --decorate --branches --tags --remotes
  stashes = stash list --date=local
[user]
  email = paralleltree@outlook.com
  name = Paralleltree
[include]
  path = .gitconfig.local
